processing/analysis/simplified4oxlod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

    <xs:annotation>
        <xs:documentation>
            This schema specifies an intermediate metadata format for extracting the essentials from a TEI header
            in a predictable structure for easier mapping to RDF in the 3M editor for use by OXLOD,
        </xs:documentation>
    </xs:annotation>
    
    
    <!-- Root element -->

    <xs:element name="manuscripts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="manuscript"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <!-- Each manuscript -->
    
    <xs:element name="manuscript">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="uri"/>
                <xs:element ref="classmark"/>
                <xs:element ref="collection"/>
                <xs:element ref="repository"/>
                <xs:element ref="institution"/>
                <xs:element minOccurs="0" ref="material"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="dimension"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="layout"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="date"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="place"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="org"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="person"/>
                <xs:choice maxOccurs="unbounded">
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="provenance"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="inscription"/>
                </xs:choice>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="digitalimages"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="item"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="part"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Elements only in manuscripts -->
    
    <xs:element name="classmark" type="xs:string"/>
    <xs:element name="collection" type="xs:string"/>
    <xs:element name="repository" type="xs:string"/>
    <xs:element name="institution" type="xs:string"/>
    
    
    <!-- Parts within manuscripts -->
    
    <xs:element name="part">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="uri"/>
                <xs:element ref="label"/>
                <xs:element minOccurs="0" ref="material"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="dimension"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="layout"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="date"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="place"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="org"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="person"/>
                <xs:choice maxOccurs="unbounded">
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="provenance"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="inscription"/>
                </xs:choice>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="digitalimages"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="item"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <!-- Works within manuscripts or parts -->
    
    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="uri"/>
                <xs:element ref="title"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="author"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="language"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="place"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="org"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="person"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <!-- Elements that can occur in either manuscripts or parts -->
    
    <xs:element name="date">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="from"/>
                <xs:element minOccurs="0" ref="to"/>
            </xs:sequence>
            <xs:attribute name="context" use="optional" type="xs:NMTOKENS"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="material">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="uri"/>
                <xs:element ref="label"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="dimension">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="type"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="value"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="unit"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="layout">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="columns"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="linespercolumn"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="columns">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="min"/>
                <xs:element ref="max"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="linespercolumn">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="min"/>
                <xs:element ref="max"/>
            </xs:sequence>
            <xs:attribute name="type" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="provenance">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="date"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="place"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="org"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="person"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="text"/>
            </xs:sequence>
            <xs:attribute ref="xml:id" use="required"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="inscription">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="date"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="place"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="org"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="person"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="text"/>
            </xs:sequence>
            <xs:attribute ref="xml:id" use="required"/>
        </xs:complexType>
    </xs:element>
    
    
    <!-- Elements that can appear in manuscripts, parts or works -->
    
    <xs:element name="place">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="uri"/>
                <xs:element ref="label"/>
            </xs:sequence>
            <xs:attribute name="context" type="xs:NMTOKENS"/>
            <xs:attribute name="cert" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="org">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="uri"/>
                <xs:element ref="label"/>
                <xs:element ref="role" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="context" type="xs:NMTOKENS"/>
            <xs:attribute name="cert" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="uri"/>
                <xs:element ref="label"/>
                <xs:element ref="role" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="context" type="xs:NMTOKENS"/>
            <xs:attribute name="cert" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    
    
    <!-- Elements only in works -->
    
    <xs:element name="title">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="uri"/>
                <xs:element ref="label"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="author">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="uri"/>
                <xs:element ref="label"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="language">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="uri"/>
                <xs:element ref="label"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <!-- Basic data fields -->
    
    <xs:element name="uri" type="xs:anyURI"/>
    <xs:element name="label" type="xs:string"/>
    <xs:element name="role" type="xs:NMTOKEN"/>
    <xs:element name="unit" type="xs:NMTOKEN"/>
    <xs:element name="type" type="xs:NMTOKENS"/>
    <xs:element name="from" type="xs:dateTime"/>
    <xs:element name="to" type="xs:dateTime"/>
    <xs:element name="min" type="xs:decimal"/>
    <xs:element name="max" type="xs:decimal"/>
    <xs:element name="value" type="xs:decimal"/>
    <xs:element name="text" type="xs:string"/>
    <xs:element name="digitalimages" type="xs:anyURI"/>
    
</xs:schema>
